---
layout: default
---
{% include post.html %}

Cool stuff to check out:
<p><a href="https://girlswhocode.com/"><img src="https://pbs.twimg.com/profile_images/755083363233304577/L5iPfN4Y.jpg" style="height: 50px; width: 50px"</a>
<a href="http://yalsa.ala.org/blog/category/technology/"><img src="https://pbs.twimg.com/profile_images/709365423121125376/NCLQW6NL.jpg" style="height: 50px; width: 50px"</a>
<a href="http://stackoverflow.com/"><img src="http://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a" style="height: 50px; width: 50px"</a>
<a href="http://xkcd.com/292/"><img src="http://www.userlogos.org/files/logos/euphonicnight/xkcd.png" style="height: 50px; width: 60px"</a>
</p>

{% if site.disqus and page.comments %}
    {% include disqus.html %}
{% endif %}
